<%= form_with(model: @user, local: true) do |form| %>
    <%= render 'error', locals: {user: @user}  %>

    <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name , class: 'form-control' %>
    </div>

    <div class="actions">
        <%= form.submit class:'btn btn-primary' %>
        <%= link_to 'Cencel', users_path, class:"btn btn-secondary" %>
    </div>


<% end %>