<%= form_for(@usage) do |f| %>
  <% if @usage.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@usage.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @usage.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :"Enter Used Unit" %>
    <%= f.text_field :used_unit %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>