<h1>Subscription Index</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Subscription Id</th>
      <th scope="col">Plan Id</th>
      <th scope="col">Date</th>
      <th scope="col">Status</th>
      <th scope="col">Usage Info</th>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.id %></td>
        <td><%= subscription.plan_id %></td>
        <td><%= subscription.date %></td>
        <td><%= subscription.status %></td>
        <% if findstatus(subscription.id) %>
          <td><%= link_to 'Usage Details', usage_path(subscription) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>